In [1]:
from solutions.question_5 import *
forecast_volume('data/hourly_volume.csv', 2)

              order_hour  predicted_order_volume
0    2016-07-06 00:00:00                0.000000
1    2016-07-06 01:00:00                0.000000
2    2016-07-06 02:00:00                0.000000
3    2016-07-06 03:00:00                0.000000
4    2016-07-06 04:00:00                0.000000
5    2016-07-06 05:00:00                0.000000
6    2016-07-06 06:00:00                0.000000
7    2016-07-06 07:00:00                0.000000
8    2016-07-06 08:00:00                0.000000
9    2016-07-06 09:00:00                0.000000
10   2016-07-06 10:00:00             1131.571429
11   2016-07-06 11:00:00             1029.142857
12   2016-07-06 12:00:00              990.285714
13   2016-07-06 13:00:00              984.000000
14   2016-07-06 14:00:00              841.571429
15   2016-07-06 15:00:00              935.285714
16   2016-07-06 16:00:00             1040.000000
17   2016-07-06 17:00:00             1255.428571
18   2016-07-06 18:00:00             1186.857143
19   2016-07-06 19:00:00             1448.714286
20   2016-07-06 20:00:00             1194.857143
21   2016-07-06 21:00:00                0.000000
22   2016-07-06 22:00:00                0.000000
23   2016-07-06 23:00:00                0.000000
24   2016-07-07 00:00:00                0.000000
25   2016-07-07 01:00:00                0.000000
26   2016-07-07 02:00:00                0.000000
27   2016-07-07 03:00:00                0.000000
28   2016-07-07 04:00:00                0.000000
29   2016-07-07 05:00:00                0.000000
...                  ...                     ...
1170 2016-08-23 18:00:00             1592.857143
1171 2016-08-23 19:00:00             1743.571429
1172 2016-08-23 20:00:00             1471.714286
1173 2016-08-23 21:00:00                0.000000
1174 2016-08-23 22:00:00                0.000000
1175 2016-08-23 23:00:00                0.000000
1176 2016-08-24 00:00:00                0.000000
1177 2016-08-24 01:00:00                0.000000
1178 2016-08-24 02:00:00                0.000000
1179 2016-08-24 03:00:00                0.000000
1180 2016-08-24 04:00:00                0.000000
1181 2016-08-24 05:00:00                0.000000
1182 2016-08-24 06:00:00                0.000000
1183 2016-08-24 07:00:00                0.000000
1184 2016-08-24 08:00:00                0.000000
1185 2016-08-24 09:00:00                0.000000
1186 2016-08-24 10:00:00             1131.571429
1187 2016-08-24 11:00:00             1029.142857
1188 2016-08-24 12:00:00              990.285714
1189 2016-08-24 13:00:00              984.000000
1190 2016-08-24 14:00:00              841.571429
1191 2016-08-24 15:00:00              935.285714
1192 2016-08-24 16:00:00             1040.000000
1193 2016-08-24 17:00:00             1255.428571
1194 2016-08-24 18:00:00             1186.857143
1195 2016-08-24 19:00:00             1448.714286
1196 2016-08-24 20:00:00             1194.857143
1197 2016-08-24 21:00:00                0.000000
1198 2016-08-24 22:00:00                0.000000
1199 2016-08-24 23:00:00                0.000000

[1200 rows x 2 columns]